
body {
    background: no-repeat center top;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -ms-background-size: cover;
    background-attachment: fixed;
    background-position: center;
    text-align: center;
	font-family: 'Open Sans', sans-serif;
}
 input[type="username"],  input[type="password"] , input[type="email"],  input[type="fullname"] {
    outline: none;
    font-size: .9em;
    padding: 1em 3em 1em 1em;
    border: none;
    margin-bottom: 0.3em;
    background: white;
    width: 25%;
    color: rgb(26, 20, 20);
    border-radius: 30px;
    font-weight: 400;
	font-family: 'Open Sans', sans-serif;
    letter-spacing: 1px;
}
form {margin-top: 7%;}
h1{
	color: rgb(27, 240, 109);
    font-family: sans-serif;
    margin-top: 5%;
	
}
h2{
	color: white;
	font-family: sans-serif;
}
.md3 a{
	font-size: 15px;
	color: aliceblue;
	
}
input[type="submit"] {
    color: white;
    background: #ea2858;
    border: none;
    padding: .7em 0;
    outline: none;
    width:  10%;
    font-size: 1em;
    cursor: pointer;
    letter-spacing: 1px;
    font-weight: 400;
    font-family: 'Open Sans', sans-serif;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -o-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -ms-transition: 0.5s all;
    border-radius: 30px;
}
input[type="submit"]:hover {
    background: #fff;
    color: black;
	transition:0.5s all;
	
}
