/*Đây là phần body */
body{
	margin: 0px auto;/*Trái phải sát biên, Trên dưới cách đều 2 biên */
}

/*Đây là phần header */
#header{
	height: 120px;
	display: flex; /* thêm vào cha để Đưa các phần tử con về 1 hàng*/
	justify-content: flex-start;
}

#logo{
	width: 25%;
}

#menu{
	width: 75%;
}

a{
	color: #000;
	font-size: 18px;
	text-decoration: none;
	margin-right: 30px ;
	font-weight: bold;
}

a:hover{
	color: blue;
}


/*Đây là phần main */
#main{
	background-color: pink;
	height: 200px;
}

#main ul{
	display: flex;
	list-style-type: none;
}



#slideshows{
	width: 80%;
	margin: 0px auto;
}

.images-list{
	width: 100%;
}

.images-list img{
	width: 100%;
}

.title{
	height: 100px;
	background-color: rgba(52,52,52,0.6);
	position: relative;
	bottom: 105px;
	font-size: 40px;
	color: #fff;
	text-align: center;
	line-height: 100px;
	position: relative;
}

span{
	display:inline-block;
	font-weight: bold;
	text-align: center;
	width: 50px;

}

#slide1{
	width: 70%;
	position: absolute;
	font-size: 20px;
	font-family: sans-serif;
}

.arrow-left{
	font-size: 40px;
	position: absolute;
	top:50%;
	right: 150px;
	transform: translate(50%, -50%);
}

.arrow-right{
	font-size: 40px;
	position: absolute;
	top:50%;
	right: 50px;
	transform: translate(50%, -50%);
}